[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-environs = "*"
whitenoise = "*"
environs = {extras = ["django"], version = "*"}
django-admin-interface = "*"
django-colorfield = "*"

[dev-packages]

[requires]
python_version = "3.9"
