<!-- templates/travaux.html -->
{% extends 'base.html' %} {% load static %} {% block title %}RPS: A Propos{% endblock title %}
<!-- Style -->
{% block style %}
<link rel="stylesheet" href="{% static 'Styles/main.css' %}" />
<!-- Script -->
<script src="{% static 'Scripts/script.js' %}" defer></script>
{% endblock style %} {% block content %}
<main class="apropos">
  <img src="{% static "Images/wallpaper2.png" %}" alt="">
  <div class="text-section">
    <h2>Qui sommes nous ?</h2>
    <p>
      RPS est une entreprise de construction et de rénovatio crée en .... qui aide les
      gens à rénover leurs maisons. Nous sommes différents des autres compagnies
      de rénovation parce que nous fournissons la construction et la rénovation
      commençant par l'elaboration du cahier des charges en passant par l'estimation à la réalisation.
      <br>
      RPS est une entreprise qui sert les gens qui veulent rénover leurs
      maisons, bureaux et espaces exterieurs. 
      <br>

      Nous fournissons diverses solutions de renovation telles que la
      la renovation de parties de maison que se soit en exterieur ou en interieur, la construction d'une extension ou la
      reconstruction d'une maison existante, et ce, avec les taux les plus abordables
      possibles. 
      <br>
      Nous sommes conscients que si vous avez besoin de travaux de
      rénovation ou de construction, cela peut être accablant. 
      Nous comprenons qu'il existe de nombreuses entreprises, mais nous sommes fiers d'être en
      mesure de fournir des résultats rapidement et à un prix abordable. 
      
      Notre équipe de professionnels a une grande expérience des projets dans tout le
      pays et offre une grande variété de solutions qui vous permettront de
      choisir ce qui répond le mieux à vos besoins. Si vous souhaitez obtenir
      plus d'informations sur RPS, n'hésitez pas à nous contacter dès
      aujourd'hui ! 
      <br>
      Notre mission est d'aider les gens à rénover leurs maisons
      par la construction et la rénovation. Nous fournissons la construction et la
      rénovation commençant par des termes de références et d'estimation à la
      réalisation. Nous aidons les gens à rénover leur maison en leur fournissant une
      estimation sans fioritures et des mises à jour en temps réel de la
      construction. Nous sommes là pour vous, que vous rénoviez votre cuisine ou
      que vous souhaitiez simplement moderniser votre buanderie. Nous pensons
      que tout le monde mérite une belle maison qui soit sûre, sécurisée et
      confortable. Nous pensons que tous nos clients méritent le meilleur, c'est
      pourquoi nous ne travaillons qu'avec les meilleurs entrepreneurs du
      secteur.
    </p>
  </div>
</main>

{% endblock content%}
