<!-- templates/FAQ.html -->
{% extends 'base.html' %} {% load static %} {% block title %}RPS: FAQ{% endblock title %}
<!-- Style -->
{% block style %}
<link rel="stylesheet" href="{% static 'Styles/main.css' %}" />
<!-- Script -->
<script src="{% static 'Scripts/script.js' %}" defer></script>
{% endblock style %} 

{% block content %}
<main class="FAQ-page">
    <div class="statements">
        <h2>Questions Fréquemment Posées</h2>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Quels services votre entreprise de rénovation offre-t-elle ?</b>
            <img class="toggle-down hidden" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text">R : Notre entreprise de rénovation offre un large éventail de services, notamment la rénovation de cuisines et de salles de bains, la pose de revêtements de sol, la peinture, les travaux d'électricité et de plomberie, etc.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Comment puis-je obtenir un devis pour mon projet de rénovation ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Contactez-nous sur notre site Web ou appelez-nous directement pour planifier une consultation. Nous évaluerons vos besoins et vous fournirons un devis détaillé pour votre projet.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Travaillez-vous avec un architecte ou un designer ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Oui, nous travaillons avec des architectes et des designers afin de garantir que votre projet de rénovation soit réalisé conformément à vos spécifications.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Combien de temps prend un projet de rénovation typique ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Le calendrier d'un projet de rénovation dépend de la taille et de la complexité du projet. Nous vous fournirons un calendrier détaillé de votre projet au cours du processus de consultation. </p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Combien coûte un projet de rénovation typique ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Le coût d'un projet de rénovation varie en fonction de l'ampleur des travaux, des matériaux utilisés et d'autres facteurs. Nous vous fournirons un devis détaillé au cours du processus de consultation.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Vos ouvriers sont-ils assurés et autorisés ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Oui, tous nos travailleurs sont entièrement assurés et autorisés à effectuer des travaux de rénovation.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Offrez-vous des options de financement pour vos services ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Oui, nous offrons des options de financement à nos clients pour les aider à rendre leurs projets de rénovation plus abordables.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/message-question.svg" %}" alt="FAQ Icon">
            <b>Q : Offrez-vous une garantie pour vos services ?</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="FAQ Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="FAQ Icon">
            <div></div>
            <p class="small-text hidden">R : Oui, nous offrons une garantie pour tous nos services afin d'assurer votre entière satisfaction.</p>
        </div>

    </div>

</main>
{% endblock content %}