<!-- templates/home.html -->
{% extends 'base.html' %} {% load static %} 
{% block title %}Renov{% endblock title %}
<!-- Style -->
{% block style %}
    <link rel="stylesheet" href="{% static 'Styles/main.css' %}" />
    <!-- Script -->
    <script src="{% static 'Scripts/script.js' %}" defer></script>
{% endblock style %} {% block content %}
<main>
  <section class="hero-section">
    <div class="sub-section-1">
      <h1>Profitez de notre expertise en renovation</h1>
      <p>
        Située à proximité de Reims, Renov Entreprise met son professionnalisme
        et son dynamisme à votre service pour la prise en charge de vos travaux
        de rénovation immobilière pour les particuliers et les professionnels
      </p>
      <div>
        <a href="{% url 'contact' %}">
            <button class="btn">Faire un devis ?</button>
        </a>
        <a href="{% url 'travaux' %}">
            <button class="btn2">
              <img src="{% static "Icons/image.svg" %}" alt=""> Voir nos derniers
              travaux
            </button>
        </a>
      </div>
      <div class="float elt-1">
        <img src="{% static "Icons/house.svg" %}" alt="">
        <div>
          <b class="small-text">Renovation / Construction</b>
          <span class="small-text" id="thirdColor">Au meilleur prix</span>
        </div>
      </div>
      <div class="float elt-2">
        <img src="{% static "Icons/medal-star.svg" %}" alt="">
        <div>
          <b class="small-text">Avis</b>
          <span class="small-text" id="thirdColor">5 / 5 Étoiles</span>
        </div>
      </div>
      <div class="glass-section">
        <div class="glass-elt">
          <img src="{% static "Icons/location1.svg" %}" alt="">
          <b>Localisation</b>
          <div></div>
          <div></div>
          <p id="disabled">Reims, France</p>
          <img src="{% static "Icons/arrow-down.svg" %}" alt="">
        </div>
        <div class="vl"></div>
        <div class="glass-elt">
          <img src="{% static "Icons/category-3.svg" %}" alt="">
          <b>Types</b>
          <div></div>
          <div></div>
          <p id="disabled">Renovation</p>
          <img src="{% static "Icons/arrow-down.svg" %}" alt="">
        </div>
        <div class="vl"></div>
        <div class="glass-elt">
          <img src="{% static "Icons/money.svg" %}" alt="">
          <b>Prix</b>
          <div></div>
          <div></div>
          <p>~A estimer</p>
          <img src="{% static "Icons/arrow-down.svg" %}" alt="">
        </div>
      </div>
    </div>
    <div class="sub-section-2"></div>
  </section>

  <section class="description">
    <img class="pattern" src="{% static "Images/pattern1.png" %}" alt="">
    <img src="{% static "Images/image1.jpg" %}" alt="">
    <div>
      <h2 class="gradient-color">Pourquoi nous ?</h2>
      <p class="gradient-color">
        Dans notre entreprise de rénovation, nous nous engageons 
        à fournir des services de haute qualité à un prix abordable. 
        Avec des années d'expérience et une équipe de professionnels 
        qualifiés, nous avons l'expertise nécessaire pour mener à bien 
        tout projet de rénovation, petit ou grand. Notre objectif est 
        de dépasser vos attentes en offrant un savoir-faire et un 
        service à la clientèle exceptionnels. Nous comprenons l'importance 
        de votre maison ou espace à renover, et nous travaillons en étroite 
        collaboration avec vous pour donner vie à votre vision. Choisissez-nous 
        pour votre prochain projet de rénovation et faites l'expérience de 
        la différence que représente le fait de travailler avec une entreprise 
        fiable et digne de confiance.
      </p>
      <div class="stats">
        <div class="stat">
            <h3>50</h3>
            <p class="small-text">Personnes qualifiés</p>
        </div>
        <div class="stat">
            <h3>950</h3>
            <p class="small-text">Clients satisfaits</p>
        </div>
        <div class="stat">
            <h3>+220</h3>
            <p class="small-text">Projets realisés</p>
        </div>
      </div>
    </div>
  </section>

  <section class="services" id="services">
    <h2>Services presentés</h2>
    <span id="disabled">Ce que nous vous offrons pour vos chantiers</span>
    <div>
        <div class="service" id="plumber">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Plomberie</p>
                    <p id="secondaryColor">~100€</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt=""> <span class="small-text">34, RUE DU COMMERCE
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt=""> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt=""> <span class="small-text">Selon travaux</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt=""> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service" id="soil">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Maçonnerie</p>
                    <p id="secondaryColor"> ~15€ / &#x33A1 </p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt=""> <span class="small-text">34, RUE DU COMMERCE</span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt=""> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt=""> <span class="small-text">1Heure / 10&#x33A1</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt=""> <span class="small-text">Materiaux Non compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service" id="electric">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Électricité</p>
                    <p id="secondaryColor">A estimer</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt=""> <span class="small-text">34, RUE DU COMMERCE
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt=""> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt=""> <span class="small-text">Selon travaux</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt=""> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service" id="carpenter">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Menuiserie</p>
                    <p id="secondaryColor">A estimer</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt=""> <span class="small-text">34, RUE DU COMMERCE
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt=""> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt=""> <span class="small-text">Selon travaux</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt=""> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service" id="painting">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Painture</p>
                    <p id="secondaryColor">~8€ / &#x33A1</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt=""> <span class="small-text">34, RUE DU COMMERCE
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt=""> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt=""> <span class="small-text">1Heure / 10&#x33A1</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt=""> <span class="small-text">Materiaux Non compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service" id="isolation">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Isolation</p>
                    <p id="secondaryColor">~100€</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt=""> <span class="small-text">34, RUE DU COMMERCE
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt=""> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt=""> <span class="small-text">100€ / 15&#x33A1</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt=""> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>



  <section class="entreprise">
    <div class="h-bar"></div>
    <div class="main">
        <h2>Nous sommes une entreprise connue et recommondée</h2>
        <p>
            Nous n'utilisons que les meilleurs matériaux et les techniques 
            les plus récentes pour obtenir des résultats étonnants qui dépassent vos attentes. 
            De plus, nous proposons des options de financement souples et une garantie sur tous nos services, 
            ce qui vous assure une tranquillité d'esprit et une valeur ajoutée. 
            Choisissez-nous pour votre prochain projet de rénovation et faites 
            l'expérience de la différence que représente le fait de travailler 
            avec une entreprise réputée et digne de confiance.
        </p>
        <a href="{% url 'travaux' %}"><button class="btn">Explorez notre savoir-faire</button></a>
        <div class="float elt-2">
            <img src="{% static "Icons/medal-star.svg" %}" alt="">
            <div>
              <b class="small-text">Avis</b>
              <span class="small-text" id="thirdColor">5 / 5 Étoiles</span>
            </div>
          </div>
    </div>
    <img id="img1" src="{% static "Images/image1.jpg" %}" alt="">
    <img id="img2" src="{% static "Images/wallpaper2.png" %}" alt="">

  </section>

  <section class="avantages">
    <div class="h-bar"></div>

    <img src="{% static "Images/wallpaper3.jpg" %}" alt="">
    <div class="statements">
        <h2>RenovSite la renovation de demain</h2>
        <p>"Une bonne réputation vaut plus que de l’argent." - Publilius Syrus</p>
        <div class="element">
            <img src="{% static "Icons/profile-2user.svg" %}" alt="">
            <b>Materiaux</b>
            <img class="toggle-down hidden" src="{% static "Icons/arrow-square-down.svg" %}" alt="">
            <img class="toggle-up" src="{% static "Icons/arrow-square-up.svg" %}" alt="">
            <div></div>
            <p class="small-text">Nous n'utilisons que les meilleurs matériaux et les techniques 
                les plus récentes pour obtenir des résultats étonnants qui dépassent vos attentes.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/24-support.svg" %}" alt="">
            <b>Support client H24</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="">
            <div></div>
            <p class="small-text hidden">Nous sommes disponibles et à l'écoute de nos clients à tout moment</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/global.svg" %}" alt="">
            <b>Prestation globale</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="">
            <div></div>
            <p class="small-text hidden">Notre but est de dépasser vos attentes en proposant une expertise et un service client exceptionnels.</p>
        </div>

    </div>
  </section>
  <section class="testimonials">
    <h2>Que disent nos client ?</h2>
    <p class="small-text">Votre satisfaction est notre principal objectif</p>
    <div class="slider">
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="">
            <p class="cutoff-text">« L’équipe de RenovSite a fait un travail remarquable dans le cadre de la rénovation de notre cuisine. Elle a fait preuve de professionnalisme, de rapidité et de minutie. Nous ne pourrions être plus heureux du résultat final. »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt=""> -->
            <input class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
            </div>
            <h3>Mike brandon</h3>
            <span class="small-text">The new age Inc</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="">
            <p class="cutoff-text">"RenovSite a dépassé nos attentes à tous les niveaux. De leur professionnalisme à la qualité de leur travail, ils nous ont laissé totalement satisfaits du processus de rénovation entier. Nous les recommandons vivement à toute personne ayant besoin de services de construction ou de rénovation."
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt=""> -->
            <input class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
            </div>
            <h3>Mike brandon</h3>
            <span class="small-text">The new age Inc</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="">
            <p class="cutoff-text">« RenovSite a facilité la rénovation de notre salle de bain. Ils se sont occupés de tout du début à la fin, et le résultat final a dépassé nos attentes. Nous utiliserons certainement leurs services à l’avenir. »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt=""> -->
            <input class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
            </div>
            <h3>Mike brandon</h3>
            <span class="small-text">The new age Inc</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile2.jpg" %}" alt="">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="">
            <p class="cutoff-text">« Nous avons été très impressionnés par la qualité du travail et le niveau de professionnalisme que nous avons reçus de RenovSite pendant notre projet de rénovation domiciliaire. Ils étaient toujours à l’heure, nous ont tenus informés tout au long du processus et nous ont livré un beau produit final. »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt=""> -->
            <input class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
            </div>
            <h3>Sandrine clairbois</h3>
            <span class="small-text">The new age Inc</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="">
            <p class="cutoff-text">« RenovSite a transformé notre sous-sol désuet en un espace de vie fonctionnel et élégant. Leur équipe était compétente, efficace et a travaillé avec nous pour respecter notre budget. Nous sommes ravis du résultat final. »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt=""> -->
            <input class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
            </div>
            <h3>Mike brandon</h3>
            <span class="small-text">The new age Inc</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile2.jpg" %}" alt="">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="">
            <p class="cutoff-text">"Nous avons eu une excellente expérience en travaillant avec RenovSite sur notre projet de rénovation de la maison. Ils étaient incroyablement serviables, efficaces et ont toujours veillé à ce que nous soyons satisfaits de l'avancement du travail. Le résultat final était exactement ce que nous voulions et nous ne pouvons pas être plus heureux de notre choix de travailler avec RenovSite."
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt=""> -->
            <input class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
                <img class="icon" src="{% static "Icons/star.png" %}" alt="">
            </div>
            <h3>Sandrine clairbois</h3>
            <span class="small-text">The new age Inc</span>
        </div>
    </div>
    <img class="sliderBtn nextBtn" src="{% static "Icons/arrow-circle-right.svg" %}" alt="">
    <img class="sliderBtn prevBtn" src="{% static "Icons/arrow-circle-left.svg" %}" alt="">
  </section>

</main>

{% endblock content %}
