<!-- templates/home.html -->
{% extends 'base.html' %} {% load static %} 
{% block title %}RPS Reims{% endblock title %}
<!-- Style -->
{% block style %}
<link rel="preload" href="{% static 'Styles/main.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{% static 'Styles/main.css' %}"></noscript>
    <!-- Script -->
    <script src="{% static 'Scripts/script.js' %}" defer></script>
{% endblock style %} {% block content %}
<main>
  <section class="hero-section">
    <div class="sub-section-1">
      <h1>Profitez de notre expertise en renovation</h1>
      <p>
        Située en coeur de Reims,Renovation Peinture Service : RPS met son professionnalisme
        et son dynamisme à votre service pour la prise en charge de vos travaux
        de rénovation immobilière pour les particuliers et les professionnels
      </p>
      <div>
        <a aria-label="Bouton contact" class="slide-in from-left" href="{% url 'contact' %}">
            <button class="btn">Faire un devis ?</button>
        </a>
        <a aria-label="Exploration des travaux et chanitiers" class="slide-in from-right" href="{% url 'travaux' %}">
            <button class="btn2">
              <img src="{% static "Icons/image.svg" %}" alt="Descriptive Icon"> Voir nos derniers
              travaux
            </button>
        </a>
      </div>
      <div class="slide-in from-right float elt-1">
        <img src="{% static "Icons/house.svg" %}" alt="Descriptive Icon">
        <div>
          <b class="small-text">Renovation / Construction</b>
          <span class="small-text" id="secondaryColor">Au meilleur prix</span>
        </div>
      </div>
      <div class="slide-in from-right float elt-2">
        <img src="{% static "Icons/medal-star.svg" %}" alt="Descriptive Icon">
        <div>
          <b class="small-text">Avis</b>
          <span class="small-text" id="secondaryColor">5 / 5 Étoiles</span>
        </div>
      </div>
      <div class="glass-section slide-in from-bottom">
        <div class="glass-elt">
          <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon">
          <b>Localisation</b>
          <div></div>
          <div></div>
          <p id="disabled">Reims, France</p>
          <img src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon">
        </div>
        <div class="vl"></div>
        <div class="glass-elt">
          <img src="{% static "Icons/category-3.svg" %}" alt="Descriptive Icon">
          <b>Types</b>
          <div></div>
          <div></div>
          <p id="disabled">Renovation</p>
          <img src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon">
        </div>
        <div class="vl"></div>
        <div class="glass-elt">
          <img src="{% static "Icons/money.svg" %}" alt="Descriptive Icon">
          <b>Prix</b>
          <div></div>
          <div></div>
          <p>~A estimer</p>
          <img src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon">
        </div>
      </div>
    </div>
    <div class="sub-section-2"></div>
  </section>

  <section class="description">
    <img class="pattern" src="{% static "Images/pattern1.png" %}" alt="Descriptive Icon">
    <img class="slide-in from-left" src="{% static "Images/image1.jpg" %}" alt="Descriptive Icon">
    <div class="slide-in from-right">
      <h2 class="gradient-color">Pourquoi nous ?</h2>
      <p class="gradient-color">
        Dans notre entreprise de rénovation, nous nous engageons 
        à fournir des services de haute qualité à un prix abordable. 
        Avec des années d'expérience et une équipe de professionnels 
        qualifiés, nous avons l'expertise nécessaire pour mener à bien 
        tout projet de rénovation, petit ou grand. Notre objectif est 
        de dépasser vos attentes en offrant un savoir-faire et un 
        service à la clientèle exceptionnels. Nous comprenons l'importance 
        de votre maison ou espace à renover, et nous travaillons en étroite 
        collaboration avec vous pour donner vie à votre vision. Choisissez-nous 
        pour votre prochain projet de rénovation et faites l'expérience de 
        la différence que représente le fait de travailler avec une entreprise 
        fiable et digne de confiance.
      </p>
      <div class="stats">
        <div class="stat">
            <h3>50</h3>
            <p class="small-text">Personnes qualifiés</p>
        </div>
        <div class="stat">
            <h3>950</h3>
            <p class="small-text">Clients satisfaits</p>
        </div>
        <div class="stat">
            <h3>+220</h3>
            <p class="small-text">Projets realisés</p>
        </div>
      </div>
    </div>
  </section>

  <section class="services" id="services">
    <h2>Services presentés</h2>
    <span id="secondaryColor">Ce que nous vous offrons pour vos chantiers</span>
    <div>
        <div class="service slide-in from-left" id="plumber">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Plomberie</p>
                    <p id="secondaryColor"> À estimer </p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon"> <span class="small-text">3 rue Général Micheler, Reims</span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt="Descriptive Icon"> <span class="small-text">Prestation</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">Materiel compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service slide-in from-bottom" id="soil">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Maçonnerie</p>
                    <p id="secondaryColor"> À partir de 15€ / &#x33A1 </p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon"> <span class="small-text">3 rue Général Micheler, Reims</span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt="Descriptive Icon"> <span class="small-text">1Heure / 10&#x33A1</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">Materiaux Non compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service slide-in from-right" id="electric">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Électricité</p>
                    <p id="secondaryColor">A estimer</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon"> <span class="small-text">3 rue Général Micheler, Reims
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt="Descriptive Icon"> <span class="small-text">Selon travaux</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service slide-in from-left" id="carpenter">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Menuiserie</p>
                    <p id="secondaryColor">A estimer</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon"> <span class="small-text">03 rue Général Micheler, Reims
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt="Descriptive Icon"> <span class="small-text">Selon travaux</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service slide-in from-bottom" id="painting">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Peinture</p>
                    <p id="secondaryColor">~11€ / &#x33A1</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon"> <span class="small-text">3 rue Général Micheler, Reims
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt="Descriptive Icon"> <span class="small-text">1Heure / 10&#x33A1</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">Materiaux Non compris</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="service slide-in from-right" id="isolation">
            <div class="note"></div>
            <div class="detail-btn"></div>
            <div class="details">
                <div class="header">
                    <p>Doublage Isolation</p>
                    <p id="secondaryColor">À partir de ~50€ / &#x33A1</p>
                </div>
                <div>
                    <img src="{% static "Icons/location1.svg" %}" alt="Descriptive Icon"> <span class="small-text">3 rue Général Micheler, Reims
                    </span>
                </div>
                <div>
                    <div>
                        <img src="{% static "Icons/calendar-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">A planifier</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/timer-start.svg" %}" alt="Descriptive Icon"> <span class="small-text">100€ / 15&#x33A1</span>
                    </div>
                    <div>
                        <img src="{% static "Icons/setting-2.svg" %}" alt="Descriptive Icon"> <span class="small-text">Materiaux compris</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>



  <section class="entreprise">
    <div class="h-bar"></div>
    <div class="main">
        <h2>Nous sommes une entreprise connue et recommondée</h2>
        <p>
            Nous n'utilisons que les meilleurs matériaux et les techniques 
            les plus récentes pour obtenir des résultats étonnants qui dépassent vos attentes. 
            De plus, nous proposons des options de financement souples et une garantie sur tous nos services, 
            ce qui vous assure une tranquillité d'esprit et une valeur ajoutée. 
            Choisissez-nous pour votre prochain projet de rénovation et faites 
            l'expérience de la différence que représente le fait de travailler 
            avec une entreprise réputée et digne de confiance.
        </p>
        <a aria-label="Exploration les travaux et chanitiers de notre savoir faire" href="{% url 'travaux' %}"><button class="btn">Explorez notre savoir-faire</button></a>
        <div class="float elt-2">
            <img src="{% static "Icons/medal-star.svg" %}" alt="Descriptive Icon">
            <div>
              <b class="small-text">Avis</b>
              <span class="small-text" id="secondaryColor">5 / 5 Étoiles</span>
            </div>
          </div>
    </div>
    <img id="img1" src="{% static "Images/image1.jpg" %}" alt="Descriptive Icon">
    <img id="img2" src="{% static "Images/wallpaper2.png" %}" alt="Descriptive Icon">

  </section>

  <section class="avantages">
    <div class="h-bar"></div>

    <img class="slide-in from-left" src="{% static "Images/wallpaper3.jpg" %}" alt="Descriptive Icon">
    <div class="statements slide-in from-right">
        <h2>RPS la renovation de demain</h2>
        <p>"Une bonne réputation vaut plus que de l’argent." - <b>Publilius Syrus</b>.</p>
        <div class="element">
            <img src="{% static "Icons/profile-2user.svg" %}" alt="Descriptive Icon">
            <b>Materiaux</b>
            <img class="toggle-down hidden" src="{% static "Icons/arrow-square-down.svg" %}" alt="Descriptive Icon">
            <img class="toggle-up" src="{% static "Icons/arrow-square-up.svg" %}" alt="Descriptive Icon">
            <div></div>
            <p class="small-text">Nous n'utilisons que les meilleurs matériaux et les techniques 
                les plus récentes pour obtenir des résultats étonnants qui dépassent vos attentes.</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/24-support.svg" %}" alt="Descriptive Icon">
            <b>Support client H24</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="Descriptive Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="Descriptive Icon">
            <div></div>
            <p class="small-text hidden">Nous sommes disponibles et à l'écoute de nos clients à tout moment</p>
        </div>
        <div class="element">
            <img src="{% static "Icons/global.svg" %}" alt="Descriptive Icon">
            <b>Prestation globale</b>
            <img class="toggle-down" src="{% static "Icons/arrow-square-down.svg" %}" alt="Descriptive Icon">
            <img class="toggle-up hidden" src="{% static "Icons/arrow-square-up.svg" %}" alt="Descriptive Icon">
            <div></div>
            <p class="small-text hidden">Notre but est de dépasser vos attentes en proposant une expertise et un service client exceptionnels.</p>
        </div>

    </div>
  </section>
  <section class="testimonials slide-in from-bottom">
    <h2>Que disent nos client ?</h2>
    <p class="small-text">Votre satisfaction est notre principal objectif</p>
    <div class="slider">
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="Descriptive Icon">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="Descriptive Icon">
            <p class="cutoff-text">« Très bonne expérience. La rénovation qu’a réalisé cette équipe est exceptionnelle »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon"> -->
            <input aria-label="toggle-button" class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
            </div>
            <h3>Dr Rony kobeissi</h3>
            <span class="small-text">Local Guide</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile2.jpg" %}" alt="Descriptive Icon">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="Descriptive Icon">
            <p class="cutoff-text">"Positive: Punctuality, Responsiveness, Value
                Très bon rapport qualité, très professionnel!! Je recommande fortement !"
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon"> -->
            <input aria-label="toggle-button" class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
            </div>
            <h3>Sarah Oultaf</h3>
            <span class="small-text"></span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile2.jpg" %}" alt="Descriptive Icon">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="Descriptive Icon">
            <p class="cutoff-text">« J’ai eu affaire à RPS et a Damien le conducteur de travaux, tout ces très bien passé, les délais ont été correctement respectés.
                C’est un très bon rapport qualité prix, je recommande fortement »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon"> -->
            <input aria-label="toggle-button" class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
            </div>
            <h3>Léna Petitjean</h3>
            <span class="small-text"></span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="Descriptive Icon">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="Descriptive Icon">
            <p class="cutoff-text">«Positive: Professionalism, Punctuality, Quality, Value
                Chantier
                Peinture sol
                Revêtement mural
                Je recommande »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon"> -->
            <input aria-label="toggle-button" class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
            </div>
            <h3>Khalid Haddouch</h3>
            <span class="small-text"></span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile1.jpg" %}" alt="Descriptive Icon">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="Descriptive Icon">
            <p class="cutoff-text">« Positive: Professionalism, Punctuality, Quality, Responsiveness, Value
                Très sérieux respectueux , aime le goût du travail bien fait et toujours de bon conseil , trés bon rapport qualité prix je recommande 👌
Service: Interior painting
                Service: Interior painting »
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon"> -->
            <input aria-label="toggle-button" class="expand-btn" type="checkbox">
            <div class="rating">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class="mini-icon" src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
            </div>
            <h3>stephane benfares</h3>
            <span class="small-text">The new age Inc</span>
        </div>
        <div class="card">
            <img class="profile" src="{% static "Images/profile2.jpg" %}" alt="Descriptive Icon">
            <img class="quote" src="{% static "Icons/quote-down-circle.svg" %}" alt="Descriptive Icon">
            <p class="cutoff-text">"Positive: Professionalism, Punctuality, Quality
                Une équipe dispo à l’équipe ponctuelle et réactive ! Une réalisation au top ! Merci rps !
                Services: Mural painting, Drywall painting, Door painting, Interior painting
            </p>
            <!-- <img class="icon2" src="{% static "Icons/arrow-down.svg" %}" alt="Descriptive Icon"> -->
            <input aria-label="toggle-button" class="expand-btn" type="checkbox">
            <div class="rating">
                <img class=mini-icon src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class=mini-icon src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class=mini-icon src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class=mini-icon src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
                <img class=mini-icon src="{% static "Icons/star.png" %}" alt="Descriptive Icon">
            </div>
            <h3>Maryline ROBERT</h3>
            <span class="small-text"></span>
        </div>
    </div>
    <img class="sliderBtn nextBtn" src="{% static "Icons/arrow-circle-right.svg" %}" alt="Descriptive Icon">
    <img class="sliderBtn prevBtn" src="{% static "Icons/arrow-circle-left.svg" %}" alt="Descriptive Icon">
  </section>

</main>

{% endblock content %}
